@charset "UTF-8";
*,
*::after *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/* To animate anything we will use @keyframes, we can set any percentage and any amount of percentages, we could have 0, 20, 40, 60, 80, 100... */
/* first thing we set invisible with opacity 0 at 0% and visible with opacity 1 at 100% */
/*  translateX(-100px) will move 100px to the left and finish at the exact same position it is settet in the class parameters itself with translate(0)*/
/* we just inserted a 10px at 80% so it goes forth than back, we can also set an delay if we want to. animation iteration count repeats the animation. */
/*  we also have some more additional parameters as ease-in, ease-out, with accelerates more in the beginning or in the end... */
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/* in the second one we used a shorthand and passed a one liner. */
/* jonas zoomed the video and showed a small shake in the element in the end. no one knows why this happens, to solve we set the   backface-visibility: hidden; in the parend .heading-primary class */
/* the  backface-visibility: hidden would hide a back part of an element if we rotate it 180 degrees as an example. */
/* added some transform: rotate(0deg), rotate(180deg), rotate(2700deg) rotate(0deg) in some percentages just to play around */
/* inserted a .hover:logo to animate the logo on hover, mine was not animating, just flashing fastly.  */
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    /* transform: translateY(30px); converting to rem */
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    /* transform: translateY(30px); converting to rem */
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

body {
  font-family: 'Lato', sans-serif;
  /* we allways set the font in the body, not in the universal selector */
  /* Lato was imported from google fonts in html */
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  /* padding: 30px; converting to rem*/
  padding: 3rem;
  /* this adds a nice border to entire web page */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* paddings and borders are not added to height and width */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* margin-bottom: 60px; converting to rem */
  margin-bottom: 6rem;
  /* .heading-primary-sub:hover {
    animation: moveInRight 1s ease-out;
    } */
}

.heading-primary--main {
  display: block;
  /* display block occupies all the space available and create break lines before and after the element, if we inspect we will see it occupies 100% */
  font-size: 6rem;
  /* font-size: 60px; converting to rem */
  font-weight: 400;
  /* letter-spacing: 30px; converting to rem */
  letter-spacing: 3rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  /* animation-delay: 1s;
    animation-iteration-count: 3; */
}

.heading-primary--sub {
  display: block;
  /* font-size: 20px; converting to rem */
  font-size: 2rem;
  font-weight: 700;
  /* letter-spacing: 15.6px; converting to rem */
  letter-spacing: 1.56rem;
  /* the letter spacing was adjusted to both texts have the same size */
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right, #55c57a, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(2deg) scale(1.1);
          transform: skewY(2deg) skewX(2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.btn {
  /* we used a :link because this button will be a link, and :link is a pseudo-class */
  /* in the browsers a visited link gets purple, we want them to be same as before visiting. */
  /* paddin: 10px, 40px, 10px top and bottom, 40px left and right */
  /* we set the btn to inline-block so it not overlaps with the header text */
  /* since the btn is a inline-block, it is treated as text. so we set the .text-box property in the begining of the code to text-align: center */
  /* Also added margin-bottom: 60px in the .heading-primary  */
  /* border radius will round the borders of the button */
  /* transition is the 2nd method of animation, @keyframes is more complicated one. all means all the properties are enabled to be animated, 0.2s is the time for the transition, we already used the shorthand., the transition property has to be in the initial state. */
  /* after element only when we hover an delement. */
  /* at this point we have a 1.5 times button when we hover it */
  /* so the initial state of the hover::after is the btn::after element, and we will set the transition state on it */
  /* with opacity 0 and transition it will fade out after the time set on transition */
  /* adjusted the scale to scaleX(1.4) and scaleY(1.6) */
  /* we created the @keyframes moveInBottom and inserted the &-animated as a class of the discoverourtours button. */
  /* when we click with tansform: translateY(-1px) it moves a bit down. */
  /* box shadow 0 is a shadow in the x direction, here we don't want any shadow in x axis, the 2nd parameter is the shadow, the 3rd is the blur, this will give a impression that when we click we push the button onto the page.  */
  /* with after pseudo-element we always have to specify the content, can be an empty string, but we have to specify. */
  /* we also have to specify display, so we will use exact the same, the button is already an inline-block element */
  /* the after pseudo-element is treated as a child, so we set the 100% of the button width and height to it's "son".  */
  /* so we want to put the btn::after behing the actual element, so we use position: abosolute and set the top:0 and left: 0, the position needs to have a reference, it's the first element it can find, in this case would be the header, but we want it to be the button, so we set the position: relative in the button */
  /* z-index: -1 because we want it behind the button, so we will implement the hover in the btn. */
  /* we will set the duration of .5seconds, it will ease-out and will have a delay of .75s related to the others animations */
  /* so the button is visible and then it starts the animation, if we set the animation-fill-mode it will automatically applies the styles of the 0% before the animation starts. which in this case is opacity 0. */
  /* coment the animations-fill-mode to see what happens. */
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* padding: 15px 40px; converting to rem */
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* with transform: translateY(-3px) will move the btn a little bit up when we hover it. */
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--white::after {
  background-color: #fff;
}

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  -webkit-text-decoration: non;
          text-decoration: non;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}

.card__side {
  height: 52rem;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fff;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../../img/nat-5.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg);
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#55c57a), to(#28b485)), url(../../img/nat-6.jpg);
  background-image: linear-gradient(to right bottom, #55c57a, #28b485), url(../../img/nat-6.jpg);
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../../img/nat-7.jpg);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg);
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.85), rgba(40, 180, 133, 0.85));
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__details {
  padding: 3rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline-offset: 2rem;
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}

.composition__photo:hover {
  outline: 3px dashed #7ed56f;
  -webkit-transform: scale(1.03) translateY(-1rem);
          transform: scale(1.03) translateY(-1rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right, #55c57a, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
}

.header {
  height: 95vh;
  /* size of 95% of viewport height */
  /* background-image: url(../img/hero.jpg); */
  /* if we type backimg vscode finds background-image:` */
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.8)), to(rgba(40, 180, 133, 0.8))), url(little-silv.png);
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(little-silv.png);
  /* this sets two background images, one in top of the other, first one is a gradient image */
  /* 0.8 in the end of rgba sets opacity to 80% */
  /* to change the hex to rgba click on hex and slide the bar  */
  background-size: cover;
  /* this will make the background image try to cover any size of the box */
  /* at this point the background image is already rendered and we see 5% in the bottom*/
  /* of the page not filled with the image. */
  background-position: top;
  /* when we shrink the window, the top remains the same and the bottom is cropped */
  /* we can set to bottom in the inspector and see the difference as we reduce the window */
  /* can also be set to center to crop bottom and top */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* starts at top right, then top left, them bottom left, them bottom right */
  /* the 75vh maintains 75% of the viewport height */
  /* to do a triange (50% 0, 100% 100%, 0 100%) */
  /* https://bennettfeely.com/clippy/ lots of css shapes */
  position: relative;
  /* we included a div text-box so we can place the button latter on, included this element here to follow the natural order of the html. */
  /* we included a div text-box so we can place the button latter on, included this element here to follow the natural order of the html. */
}

.header__logo-box {
  position: absolute;
  /* top: 40px;
        left: 40px; converting to rem */
  top: 4rem;
  left: 4rem;
  /* the reference of top and left is calculated by the parent element, in this case the header, so we set position: relative in the parent element */
}

.header__logo {
  height: 3.5rem;
  /* height: 35px; converting to rem */
  /* we can only set heigth and the width will be figured out by the browser */
}

.header__text-box {
  position: absolute;
  top: 40%;
  /* since we cropped the bottom of the image we decided to put 40% instead of 50% */
  left: 50%;
  /* background-color: fuchsia; */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* with only top and left, it will place the begining of the box 50% to the left and 50% from the top, but not centered, to center we use transform: translate, take translate out and put background color back to check. */
  text-align: center;
}

.header__text-box {
  position: absolute;
  top: 40%;
  /* since we cropped the bottom of the image we decided to put 40% instead of 50% */
  left: 50%;
  /* background-color: fuchsia; */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* with only top and left, it will place the begining of the box 50% to the left and 50% from the top, but not centered, to center we use transform: translate, take translate out and put background color back to check. */
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc((2 * (100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.8)), to(rgba(40, 180, 133, 0.8))), url(/img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(/img/nat-4.jpg);
  background-size: cover;
  margin-top: -14rem;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -14rem;
}

/* class 11 - section intro */
/* class 12 - three pillars of writing good html and css => check slides */
/* class 13 - how css is parsed, part 1: the cascade and specificity */
/* the cascade is user !importatn declarations, then author !important, then author > user > browser default values */
/* the specificity is cascaded as inline styles then ids then classes, pseudo-classes and attribute, in the end we have the elements and pseudo elements */
/*  if theres a tie in the specificity the last code written will override the other ones. */
/* the !important must be a last last resource, probably you can solve anything with specificity */
/* inline styles written in html will override any css */
/* a selector with 1 id is more specific than one with 1000 classes */
/* a selector with 1 class is more specific than one with 1000 elements */
/* the universal selector has no specificity selector , it is (0,0,0,0) */
/* Rely more on specificity than on the order of selectors. */
/* when you use 3rd party stylesheeds - always put your author stylesheet last, so it can override the 3rd party */
/* 16 - class How Css Values are processed */
/* in the end, everything (rem, vh...) wil be converted to pixels */
/* rem is also a relative unit, it is relative to the root font size, the browser default font size is 16px */
/* in the given example it had a font-size: 150% in a header, it means it will have a font 150% relative to it's parent element, wich is body in this case */
/* when we express a percentage, the reference is always the parents element, valid for width, padding, fonts... */
/* //* the parent's width is the reference for % based calculations */
/* //* if we set the fonts with em and rem the page is more responsive. */
/* //* vh and vw are simply percentage measurements of the viewport's height and width */
/* //* each css property has a initial value, which is used if no value is defined, no inheritance here  */
/* //* browser usually has 16px root-font-size */
/* //* percentages are measured relative to their parents width if used to specify lengths */
/* //* em are measured relative to their parent font-size, if used to specify font-size */
/* //* em are measured relative to current font-size, if used to specify length */
/* //* rem are always measured relative to the document's root font-size */
/* 17 - inheritance in css */
/* every css property must have a value */
/* when processing a property the 1st question that css engine asks is if there is a cascated value */
/* 18 - convert all units to rem, if we have to do a page to a mobile device, we will be able to change all units changing only in one place. */
/* to make things easier we set the html font size to 10px, so we know that 1 rem is 10pixels */
/* rems are not supported in internet explorer 9 */
/* the technique we used is EXTREMELY DIFICULT with em's, because it depends on the parent's element font-size, not the root font size. */
/* 19 - How CSS Renders a Website - The visual formatting model */
/* Box Model */
/* //* Content - Texto ou imagem */
/* //* Padding - área transparente ao redor do conteúdo, dentro da caixa, uma "margem" dentro da caixa. */
/* //* Border - fica ao redor do padding e do conteúdo */
/* //* a margem é o espaço entre caixas, o que vai separar uma caixa da outra */
/* //* Fill Area é a area que será preenchida com uma imagem ou cor de fundo, inclui o conteúdo, padding, border mas não inclui a margem. */
/* //* Se usarmos o box-sizing: border-box a caixa terá a largura total definido somente pela propriedade width por exemplo */
/* //* Se não for definido o box-sizing, a caixa teria a largura definida por: total width = right border + right padding + specified width + left padding + left border */
/* //* Muito mais fácil definir o tamanho dos elementos usando o box-sizing: border box. */
/* //* Este conceito se aplica somente a block-level boxes, que é somente 1 tipo de caixas no css, vamos ver as 3 mais comums */
/* //* display: block as caixas são posicionadas de forma vertical, uma depois da outra, elas ocupam o máximo de largura possível, normalmente 100% da largura do elemento pai e são formatadas visualmente como blocos */
/* //* parágrafos e divs tem display: block de fábrica. Elas criam quebras de linha antes e depois, por isso são posicionadas de forma vertical */
/* //* display: inline é basicamente o contrário da block, a caixa ocupa somente o espaço que o conteúdo precisa, é distribuida em linhas, não tem quebras de linhas, heigth e width não se aplicam, ou seja, não podemos definir heigth e width para inline box, paddings e margens só são aplicadas a direita e esquerda. As limitações da inline é que nos levam a inline-block */
/* //* inline-block é uma mistura dos dois elementos, tecnicamente é uma caixa inline que funciona como block no interior. Usam somente o seu conteúdo como largura e por isso não provocam quebra de lnha.  */
/* //* Esquemas de posicionamento, temos o normal flow, floats e absolute positioning */
/* //* position: relative é o normal flow, os elementos são dispostos na página de forma natural */
/* //* float: left ou float: right o elemento é retirado do fluxo normal, texto e inline elements vão ser envolvidos ao redor do "floated element", o container não vai ajustar sua altura ao elemento*/
/* //*  position: absolute ou position: fixed o elemento é retirado do fluxo normal, o conteúdo não tem impacto em elementos próximos e pode inclusive se sobrepor a eles. */
/* //* Usamos o top, bottom, left and right para posicionar o elemento em relação ao seu container */
/* //* stacking content é a pilha de elementos na tela, o mais comum é o z-index */
/* //*  uma maneira de empilhar elementos é usar o z-index junto com position. Mostrou um exemplo de 3 elementos empilhados: */
/* z-index: 3 e position: relative, depois um z-index: 2 e position: absolute depois um z-index: 1 e position: relative*/
/* //* Opacidade, filter, transform também vão criar empilhamentos, por isso as vezes mesmo com o uso do z-index não causa o efeito esperado de empilhamento */
/* 20 - Arquitetura CSS, componentes e BEM */
/* //* As decisões no início do projeto vão impactar muito se o site crescer */
/* //* sugere a metodologia do think build architect */
/* //* primeiro pensar no layout do site. antes de escrever uma linha de código */
/* //* em segundo lugar criar o html e o css com uma estrutura consistente de nomes de classes */
/* //* ao final criar a lógica de arquitetura com arquivos e pastas */
/* //* Sugeriu o COMPONENT-DRIVEN-DESIGN */
/* //* THINKING - Blocos modulares para a interface, são integrados pelo layout da página, devem ser reutilizáveis entre vários projetos e seren independentes dos elemetos pai, permitindo que sejam usados em qualquer lugar na página. */
/* //* BUILD - BEM é Block Element Modifier, mostrou um exemplo de uma página de receitas em que o elemento pai tem uma classe "recipe", cada elemento filho tem sua classe específica como recipe__stats_box, recipe__info e o botão por exemplo tem recipe_btn btn btn--round, ou seja, tem classes adicionais. O que é totalmente permitido,mas a classe recipe__info por exemplo não faz sentido fora de uma classe recipe pai. */
/* //* No botão por exemplo tem o btn--round que deixa claro que se trata de um botão arredondado, pode ter outras classes de outros tipos de botão por exemplo  */
/* //* Block é um componente standalone que tem seu significado próprio, Element é parte do bloco que não tem significado próprio e Modifier é uma flag para uma versão diferente do bloco ou elemento */
/* //* sugeriu uma leitura do código para ver que intuitivamente percebe-se como estão relacionadas as classes e o que cada uma faz. */
/* //* BEM é mais verboso, mas traz muitos benefícios em aplicações maiores. */
/* //* Sugeriu o uso da metodologia 7-1, onde temos 7 pastas para arquivos parciais e um arquivo principal onde importamos os outros 7 */
/* //* base / components / layout / pages / themes / abstracts / vendors */
/* //* abstract é uma pasta que colocamos código que não tem um css output, como variáveis ou mix-ins??? */
/* vamos implementar essas pastas nos projetos a medida que foram necessárias, nem sempre usamos todas. */
/* 21 - aplicando o conceito BEM no projeto */
/* Aula 22 e 23 */
/* //* SAAS é um pre-processador, uma extensão do css que adiciona poder e elegância a linguagem */
/* Ao invés de termos apenas um arquivo com muitas linhas de código usamos o saas => compilador saas => css compilado */
/* vamos usar arquivos saas, depois rodar o compiler e o resultado é um arquivo css compilado, o browser recebe apenas o css compilado */
/* saas tem variáveis que podem ser reutilizadas como cores, tamanhos de fontes, espaçamento etc  */
/* também tem  "nesting" que permite aninhar seletores dentro um do outro, permitindo escrever menos código */
/* operators para operações matemáticas no css */
/* partials and imports que permite escrever css em vários arquivos e depois importar todos em um arquivo único */
/* mixins permite reutilizar partes de código "reusable pieces" */
/* funções quer são similares aos mixis, produzem valores que podem ser reaproveitados */
/* extends  permite fazer seletores diferentes herdar declarações que são comuns a todos eles */
/* por fim control directives para escrever códigos mais complexos usando condicionais e loops (não veremos nesse curso) */
/* o saas tem duas sintaxes, uma com uso de { } e outa sem */
/* o saas não usa { } e tem identação */
/* o scss tem os { } e ;, fica mais intuitivo e mais fácil de ler, vamos usar o scss nesse curso */
/* freecodecamp basic course */
/* border-radius: 50% transforma a imagem em uma imagem redonda; */
/* elemento com duas classes, aplica a que for a última no css, não importa a ordem no html */
/* elemento com duas classes e um id, aplica o id, mesmo que ele venha antes das classes no css, não importa a ordem no html */
/* se colocar um inline style vai sobrescrever classes e id's */
/* e o último recurso que é má prática => !important */
/* aula 24 e 25 */
/* https://codepen.io/paolofullone/pen/yLPVyJZ?editors=1100 */
/* aula 26 - brief intro to command line */
/* nothing new... */
/* aula 27 - install saas locally */
/* npm init ou npm init -y para criar o package.json */
/* npm install node-saas --save-dev => com este comando o node-saas vai ser listado como dependência do package.json como ferramente de desenvolvimento */
/* o que funcionou foi npm i saas --save-dev */
/* criou um diretório saas, main.css e colocou todo o conteúdo nesse novo arquivo */
/* no package.json removemos o test nos scripts e adicionamos::after  "scripts": {
    "compile:saas": "node-sass sass/main.css css/style.css"
*/
/*# sourceMappingURL=main.css.map */