/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* paddings and borders are not added to height and width */
}

body {
  font-family: 'Lato', sans-serif;
  /* we allways set the font in the body, not in the universal selector */
  /* Lato was imported from google fonts in html */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
  /* this adds a nice border to entire web page */
}

.header {
  height: 95vh;
  /* size of 95% of viewport height */
  /* background-image: url(../img/hero.jpg); */
  /* if we type backimg vscode finds background-image:` */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  /* this sets two background images, one in top of the other, first one is a gradient image */
  /* 0.8 in the end of rgba sets opacity to 80% */
  /* to change the hex to rgba click on hex and slide the bar  */
  background-size: cover;
  /* this will make the background image try to cover any size of the box */
  /* at this point the background image is already rendered and we see 5% in the bottom*/
  /* of the page not filled with the image. */
  background-position: top;
  /* when we shrink the window, the top remains the same and the bottom is cropped */
  /* we can set to bottom in the inspector and see the difference as we reduce the window */
  /* can also be set to center to crop bottom and top */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* starts at top right, then top left, them bottom left, them bottom right */
  /* the 75vh maintains 75% of the viewport height */
  /* to do a triange (50% 0, 100% 100%, 0 100%) */
  /* https://bennettfeely.com/clippy/ lots of css shapes */
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
  /* the reference of top and left is the parend element, in this case the header, so we set position: relative in the parent element */
}

.logo {
  height: 35px;
  /* we can only set heigth and the width will be figured out by the browser */
}

/* .logo:hover {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
} */

/* we included a div text-box so we can place the button latter on, included this element here to follow the natural order of the html. */
.text-box {
  position: absolute;
  top: 40%;
  /* since we cropped the bottom of the image we decided to put 40% instead of 50% */
  left: 50%;
  /* background-color: fuchsia; */
  transform: translate(-50%, -50%);
  /* with only top and left, it will place the begining of the box 50% to the left and 50% from the top, but not centered, to center we use transform: translate, take translate out and put background color back to check. */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary-main {
  display: block;
  /* display block occupies all the space available and create break lines before and after the element, if we inspect we will see it occupies 100% */
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 30px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-delay: 1s;
  animation-iteration-count: 3; */
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 15.6px;
  /* the letter spacing was adjusted to both texts have the same size */
  animation: moveInRight 1s ease-out;
}

/* .heading-primary-sub:hover {
  animation: moveInRight 1s ease-out;
} */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* To animate anything we will use @keyframes, we can set any percentage and any amount of percentages, we could have 0, 20, 40, 60, 80, 100... */
/* first thing we set invisible with opacity 0 at 0% and visible with opacity 1 at 100% */
/*  translateX(-100px) will move 100px to the left and finish at the exact same position it is settet in the class parameters itself with translate(0)*/
/* we just inserted a 10px at 80% so it goes forth than back, we can also set an delay if we want to. animation iteration count repeats the animation. */
/*  we also have some more additional parameters as ease-in, ease-out, with accelerates more in the beginning or in the end... */

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* in the second one we used a shorthand and passed a one liner. */
/* jonas zoomed the video and showed a small shake in the element in the end. no one knows why this happens, to solve we set the   backface-visibility: hidden; in the parend .heading-primary class */
/* the  backface-visibility: hidden would hide a back part of an element if we rotate it 180 degrees as an example. */
/* added some transform: rotate(0deg), rotate(180deg), rotate(2700deg) rotate(0deg) in some percentages just to play around */
/* inserted a .hover:logo to animate the logo on hover, mine was not animating, just flashing fastly.  */
