*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // browsers have 16 pixels as basis, so 10/16 = 62.5%
  // this makes the site responsive.
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%

  //   neste caso em especial o phone e o 'tab-port' estão iguais, porntanto não preciamos do phone.
  //   @include respond('phone') {
  //     font-size: 50%;
  //   }

  //* deve ser nessa ordem, da maior para a menor (exceto a big desktop) que tem o min-width ao invés do max-width no arquivo mixins.

  @include respond('tab-land') {
    // width < 900?
    font-size: 56.25%; // 1 rem = 8px; 8px/16px = 50%
  }

  @include respond('tab-port') {
    // width < 600?
    font-size: 50%; // 1 rem = 8px; 8px/16px = 50%
  }

  @include respond('big-desktop') {
    font-size: 75%; // 1 rem = 12px 12px/16px = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
