
.header {
    height: 95vh;
    /* size of 95% of viewport height */
    /* background-image: url(../img/hero.jpg); */
    /* if we type backimg vscode finds background-image:` */
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(little-silv.png);
    /* this sets two background images, one in top of the other, first one is a gradient image */
    /* 0.8 in the end of rgba sets opacity to 80% */
    /* to change the hex to rgba click on hex and slide the bar  */
    background-size: cover;
    /* this will make the background image try to cover any size of the box */
    /* at this point the background image is already rendered and we see 5% in the bottom*/
    /* of the page not filled with the image. */
    background-position: top;
    /* when we shrink the window, the top remains the same and the bottom is cropped */
    /* we can set to bottom in the inspector and see the difference as we reduce the window */
    /* can also be set to center to crop bottom and top */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    // o -webkit-clip-path é para funcionar em todos os browsers...
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* starts at top right, then top left, them bottom left, them bottom right */
    /* the 75vh maintains 75% of the viewport height */
    /* to do a triange (50% 0, 100% 100%, 0 100%) */
    /* https://bennettfeely.com/clippy/ lots of css shapes */
    position: relative;
    // o operador & copia a propriedade do elemento, neste caso copia o header, podemos aninhar a logo-box dentro da header passando:
    &__logo-box {
        position: absolute;
        /* top: 40px;
        left: 40px; converting to rem */
        top: 4rem;
        left: 4rem;
        /* the reference of top and left is calculated by the parent element, in this case the header, so we set position: relative in the parent element */
        }

        &__logo {
            height: 3.5rem;
            /* height: 35px; converting to rem */
            /* we can only set heigth and the width will be figured out by the browser */
        }

        /* we included a div text-box so we can place the button latter on, included this element here to follow the natural order of the html. */
        &__text-box {
            position: absolute;
            top: 40%;
            /* since we cropped the bottom of the image we decided to put 40% instead of 50% */
            left: 50%;
            /* background-color: fuchsia; */
            transform: translate(-50%, -50%);
            /* with only top and left, it will place the begining of the box 50% to the left and 50% from the top, but not centered, to center we use transform: translate, take translate out and put background color back to check. */
            text-align: center;
        }
        /* we included a div text-box so we can place the button latter on, included this element here to follow the natural order of the html. */
        &__text-box {
            position: absolute;
            top: 40%;
            /* since we cropped the bottom of the image we decided to put 40% instead of 50% */
            left: 50%;
            /* background-color: fuchsia; */
            transform: translate(-50%, -50%);
            /* with only top and left, it will place the begining of the box 50% to the left and 50% from the top, but not centered, to center we use transform: translate, take translate out and put background color back to check. */
            text-align: center;
        }
}

// .header__logo-box {
// moved to &__logo-box and so the others header childs.
// }