.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s; 

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }


        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }
     

    &__label {
        font-size: 1.2 rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    // como o input e a label são irmãos, usamos o seletor +
    // se houvessem divs, botões etc no meio dos dois deveria usar o seletor ~
    // para a label ser selecionada com o + ela deve estar depois do input.
    // se a label estivesse antes do input não teria como selecionar desta forma.
    &__input:placeholder-shown + &__label {
        // aqui usou opacity 0 e visibility hidden, precisa dos dois para que o elemento não apareça e também não esteja na tela, precisa do opacity para que possa animar, pois o visibility não pode ser animado.
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    } 

    &__radio-group {
        // o width aqui é para que os dois radio buttons fiquem lado a lado, não funcionou e usou 49% para resolver.
        width: 49%;
        display: inline-block;
    }

    // agora que criamos um novo radio button, vamos ocultar o que estava antes, para não ficar duplicado. precisamos que ele continue no html pois é ele que funciona de verdade.
    &__radio-input{
        display: none;
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }


    // quando o input muda para checked, selecionamos o irmão dele e depois o filho, que é o que vamos alterar para aparecer a marcação. 
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }

}